*, *::after, *::before
  box-sizing: border-box
@mixin font()
  font-family: Arial, Helvetica, sans-serif
@mixin reg()
  font-weight: 400
@mixin bold()
  font-weight: 700

input,
button
  outline: none
  cursor: pointer
a
  cursor: pointer
img
  max-width: 100%
body
  +font
.button
  padding: 15px 23px
  font-size: 12px
  +bold
  background: transparent


.container
  max-width: 1040px
  margin: 0 auto