*, *::after, *::before
  box-sizing: border-box
@mixin reg()
  font:
  family: Arial, Helvetica, sans-serif
  weight: 400
@mixin bold()
  font:
  weight: 700
input,
button
  outline: none
img
  max-width: 100%

.container
  width: 1040px
  margin: 0 auto