*, *::after, *::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

input,
button {
  outline: none;
  cursor: pointer;
}

a {
  cursor: pointer;
}

img {
  max-width: 100%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.button {
  padding: 20px 55px;
  background-color: #ffcc00;
  font-weight: 700;
  font-size: 12px;
  border: none;
}

.button:hover {
  text-decoration: underline;
  background-color: #cca300;
  color: #ffffff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}

@media (max-width: 1200px) {
  .container {
    max-width: 1040px;
    width: 85%;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 640px;
    width: 90%;
  }
}

@media (max-width: 520px) {
  .button {
    padding: 12px 20px;
  }
}

.section {
  padding: 80px 0;
}

.section__title {
  text-align: center;
  margin: 0;
  margin-bottom: 60px;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  color: #292929;
}

.header {
  position: relative;
  z-index: 9999;
  padding: 30px 0;
}

.header__img {
  margin-right: 15px;
}

.header-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header-logo__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header-logo__title {
  margin-bottom: 2px;
  letter-spacing: 2px;
  font-size: 20px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.header-logo__subtitle {
  font-size: 11px;
  font-weight: 400;
  color: #969696;
}

.header-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-info__contact {
  margin-right: 31px;
  text-align: right;
}

.header-info__phone {
  display: block;
  text-decoration: none;
  font-size: 18px;
  color: #000000;
  font-weight: 700;
  text-transform: uppercase;
}

.header-info__subtitle {
  font-size: 11px;
  font-weight: 400;
  color: #969696;
}

.header__button {
  border: 2px solid #292929;
  padding: 15px 23px;
  font-size: 12px;
  font-weight: 700;
  background: transparent;
}

@media (max-width: 768px) {
  .header {
    background: #ffffff;
  }
  .header-info__contact {
    display: none;
  }
}

@media (max-width: 520px) {
  .header-logo {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.nav {
  position: relative;
  z-index: 999999;
}

.nav-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ffcc00;
}

.nav__link {
  padding: 25px 0;
  font-weight: 700;
  color: #000000;
  text-decoration: none;
}

.menu {
  width: 25px;
}

@media (max-width: 768px) {
  .nav {
    background-color: #ffcc00;
  }
  .nav-wrap {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    text-align: center;
  }
  .nav__link {
    padding: 20px 10px;
    -ms-flex-preferred-size: 33.33%;
        flex-basis: 33.33%;
  }
}

@media (max-width: 420px) {
  .nav__link {
    padding: 10px 10px;
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
}

.delivery {
  position: relative;
  margin-top: -35px;
  padding: 140px 0;
  background: url("../img/deliveri.jpg") no-repeat #303030 center/cover;
}

.delivery-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.delivery__title {
  margin-bottom: 40px;
  font-size: 36px;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 700;
}

.delivery__subtitle {
  margin-bottom: 65px;
  max-width: 340px;
  font-size: 15px;
  line-height: 124%;
  letter-spacing: 0.9px;
  font-weight: 400;
  color: #ffffff;
}

.delivery__btn {
  margin-right: 30px;
  padding: 20px 30px;
  color: #000000;
  background: #ffcc00;
  text-decoration: none;
  font-weight: 700;
}

.delivery__and {
  color: #ffffff;
  margin-right: 10px;
}

.delivery__catalog {
  color: #ffffff;
}

@media (max-width: 768px) {
  .delivery {
    margin-top: -60px;
  }
}

@media (max-width: 520px) {
  .delivery-buttons {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .delivery__btn, .delivery__and {
    margin-bottom: 10px;
  }
}

@media (max-width: 430px) {
  .delivery {
    padding: 150px 0;
    margin-top: -90px;
  }
  .delivery__title {
    font-size: 27px;
  }
}

.product-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.product-wrap__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin-bottom: 15px;
  padding: 30px 25px;
  border: 2px solid #f6f6f6;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  border-radius: 2px;
}

.product-wrap__card:hover {
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.product-wrap__image {
  margin-bottom: 20px;
}

.product-wrap__title {
  margin: 0;
  margin-bottom: 20px;
  font-size: 15px;
  font-weight: 700;
  text-decoration: underline;
}

.product-wrap__subtitle {
  margin-bottom: 30px;
  max-width: 225px;
  font-size: 13px;
}

.product-wrap__price {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 30px;
}

.benefits {
  background: #f4f4f4;
}

.benefits-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: center;
}

.benefits-wrap__card {
  padding: 40px;
  margin-bottom: 15px;
  border: 2px solid #ffffff;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.benefits-wrap__card:hover {
  background: #ffffff;
}

.benefits-wrap__image {
  margin-bottom: 40px;
}

.benefits-wrap__title {
  font-size: 15px;
  font-weight: 700;
}

.benefits-wrap__subtitle {
  max-width: 270px;
  font-size: 12px;
  line-height: 18px;
}

.hotproduct-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.hotproduct-wrap__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 20px;
  margin-bottom: 15px;
  border: 2px solid #f6f6f6;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  border-radius: 2px;
}

.hotproduct-wrap__card:hover {
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.hotproduct-wrap__title {
  margin-bottom: 24px;
  max-width: 183px;
  font-size: 13px;
  text-decoration: underline;
}

.hotproduct-description {
  margin-bottom: 25px;
}

.hotproduct-description__oldprice {
  font-size: 10px;
  text-decoration: line-through;
  color: #979797;
}

.hotproduct-description__newprice {
  color: #ff0000;
  font-size: 16px;
  font-weight: 700;
}

.hotproduct-description__newprice:nth-of-type(1) {
  color: black;
}

@media (max-width: 520px) {
  .hotproduct-wrap__card {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .hotproduct__button {
    width: 60%;
  }
}

.services {
  background: #f4f4f4;
}

.services-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: center;
}

.services-wrap__card {
  padding: 40px;
  margin-bottom: 15px;
  border: 2px solid #ffffff;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.services-wrap__card:hover {
  background: #ffffff;
}

.services-wrap__title {
  font-size: 15px;
  font-weight: 700;
}

.services-wrap__title:hover {
  text-decoration: underline;
  cursor: pointer;
}

.contact {
  background: #303030;
}

.contact-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact-wrap__block {
  width: 380px;
  padding: 60px 30px 30px;
  background: #ffffff;
}

.contact-wrap__title {
  margin: 0;
  margin-bottom: 30px;
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  color: #292929;
}

.contact__list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.contact__item {
  margin-bottom: 40px;
}

.contact__icon {
  margin-right: 14px;
}

.contact__info {
  font-size: 14px;
  color: #000000;
  font-weight: 700;
  text-decoration: none;
}

.footer {
  position: relative;
  z-index: 9999;
  padding: 30px 0;
}

.footer__img {
  margin-right: 15px;
}

.footer-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer-logo__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer-logo__title {
  margin-bottom: 2px;
  letter-spacing: 2px;
  font-size: 20px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.footer-logo__subtitle {
  font-size: 11px;
  font-weight: 400;
  color: #969696;
}

.footer-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-info__contact {
  margin-right: 31px;
  text-align: right;
}

.footer-info__phone {
  display: block;
  text-decoration: none;
  font-size: 18px;
  color: #000000;
  font-weight: 700;
  text-transform: uppercase;
}

.footer-info__subtitle {
  font-size: 11px;
  font-weight: 400;
  color: #969696;
}

.footer__button {
  border: 2px solid #292929;
  padding: 15px 23px;
  font-size: 12px;
  font-weight: 700;
  background: transparent;
}

@media (max-width: 768px) {
  .footer {
    background: #ffffff;
  }
  .footer-info__contact {
    display: none;
  }
}

@media (max-width: 520px) {
  .footer-logo {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}
/*# sourceMappingURL=style.css.map */